<%
locals.OLSKPageAssets = [
	'main.js',
];
%>

<div id="TestParent"></div>

<script type="text/javascript">
	OLSKTube.OLSKTubeLoad(Object.assign(<%- JSON.stringify(OLSKTubeConfig) %>, {
		ParamParent: window.TestParent,
	}));
</script>
